*{ box-sizing:border-box;}
body{
    font-size:16px;
    color:#333333;
    font-family: sans-serif;
}
a, a:link{
    text-decoration:none;
    color:#333333;
}
a:hover{
    color:#000000;
}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
.container{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
header{
    height:100px;
    background-color:#3cb149;
    padding-left:20px;
    padding-right:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
nav{
    width:55%;
}
.gnb{
    display:flex;
    height:40px;
    margin-top:60px;
}
.gnb>li{
    width:25%;
    text-align:center;
    line-height:40px;
}
.gnb li a, .lnb li a{
    display:block;
}
.gnb>li{
    border-top:1px solid #434748;
    border-left:1px solid #434748;
    border-bottom:1px solid #434748;
    transition: all 400ms;
}
.lnb{
    position:relative;
    z-index:10;
    display:none;
}
.lnb>li{
    text-align:center;
    line-height:40px;
    border-bottom:1px dashed #8b9294;
    transition: all 400ms;
}
.gnb>li:last-child{
    border-right:1px solid #434748;
}
.gnb>li:hover{
    background-color:#434748;
}
.gnb>li:hover>a{
    color:#fff;
}

.lnbbox{
    position:absolute;
    background:#434748;
    width:100%;
    height:150px;
    left:0;
    display:none;
    z-index:2;
}
.lnb{
    margin-top:0;
    padding-top:15px;
    width:100%;
}
.lnb a{
    color:#fff;
}
.lnb a:hover{
    background-color:#3cb149;
    color:#434748;
}
.slide{
    height:300px;
    overflow:hidden;
    position:relative;
}
.slidein{
    width:3600px;
    height:300px;
    top:0;
    left:0;
    position:absolute;
    z-index:1;
}
.slidein img{
    float:left;
}
.main{
    height:200px;
    display:flex;
}
.notice{
    width:35%;
    padding-right:20px;
}
ul.ns>li{
    border-bottom:1px dashed #8b9294;
}
ul.ns>li:hover{
    background-color:#dae9e3;
}
ul.ns>li>a{
    display:inline-block;
    width:calc(100% - 100px);
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
span.date{
    display:inline-block;
    width:100px;
    text-align:right;
}
.gallery{
    width:35%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    padding-left:20px;
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
}
.fake-banner{
    width:100%;
    height:45px;
    background:pink;
}
.gallery img{
    width:130px;
    height:150px;
    object-fit: cover;
    border:1px solid #8b9294;
}
footer{
    height:100px;
    background-color:#434748;
    color:#fff;
    display:flex;
}
.blogo, .family{
    width:250px;
}
.blogo{
    padding-top:30px;
    padding-left:20px;
}
.family{
   padding-top:30px;   
   text-align:right;
   padding-right:20px;
}
.myfamily{
    padding:5px 15px;
    font-size:16px;
}
.copyright{
    width: 700px;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.pop{
    position:fixed;
    width:500px;
    height:300px;
    top:200px;
    left:calc(50% - 250px);
    z-index:100;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
    padding:30px;
    display:none;
}
.pop h1{
    font-size:25px;
}
.close{
    position:absolute;
    bottom:30px;
    left:50%;
    transform: translateX(-50%);
    font-size:20px;
    font-weight:bold;
    padding:5px 15px;
}